/* reset css */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #34495e;
}
.card{
    border: none;
}
.nav-link{
    border: 1px solid #c9dff9;
    margin: 5px 0;
}
.nav-link i{
    padding-right: 10px;
}
.active i{
    color: #ffda51;
}
.bd-callout {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}
.bd-callout i{
    padding-right: 10px;
}
.bd-callout-info {
    border-left-color: #f0ad4e;
}
.bd-callout-info i{
    color: #f0ad4e;
}
.bd-callout-tips{
    border-left-color: #1bbde3;
}
.bd-callout-tips i{
    color:#1bbde3;
}
.bd-callout-process{
    border-left-color: #09b937;
}
.bd-callout-process i{
    color:#09b937;
}
input.disabled {
    pointer-events:none;
    color:#AAA;
    background:#F5F5F5;
  }

  /* Quẻ */

  .show__que{
    display: inline-block;
    width: 50px;
  }
  .show__que hr{
    margin: 0;
    padding-top: 10px;
    border-width: 5px;
    border-color: #000;
  }
  .show__que .duong{
    width: 50px;
  }
  .show__que .am hr{
    width: 20px;
  }
  .show__que .am{
    display: flex;
    justify-content: space-between;}
  .line__chia hr{
    border-width: 1px;
    border-color: #999999;
  }
  .show__que .hao__dong hr{
    border-color: #0089ff;
  }
  /** Tab kết quả **/

.nav-item{
  text-align: center;
  width: 200px;
}
.ketqua i{
  transform: translate(75px,16px);
  font-size: 3rem;
  line-height: 0;
  text-shadow: 0 -0.1rem 1rem rgb(0 0 0 / 15%);
  color: #fff;
}
#tenque__chu,
#tenque__ho,
#tenque__bien{
  text-transform: uppercase;
  font-weight: 700;
}
.pdfobject-container{
  height: 600px;
}